@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus:outline-none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-sm;
    @apply bg-neutral-50 text-neutral-900;
  }

  p {
    @apply leading-relaxed;
  }

  h1 {
    @apply font-extrabold text-2xl;
  }

  h2 {
    @apply font-bold text-lg;
  }

  h3 {
    @apply font-bold;
  }

  h4 {
    @apply font-semibold;
  }

  u {
    @apply underline;
  }

  li {
    @apply list-disc;
  }

  a {
    @apply cursor-pointer font-medium hover:underline;
  }
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@layer utilities {

  .clip {
      clip-path: polygon(0 40%, 100% 12%, 100% 100%, 0% 100%);

  }

  .certificate-clip{
    background:#00b4d8;
    clip-path: polygon(66% 4%, 100% 57%, 100% 100%, 0 100%, 0 61%);
  }

}
