@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus:outline-none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-sm;
    @apply bg-neutral-50 text-neutral-900;
  }

  p {
    @apply leading-relaxed;
  }

  a {
    @apply cursor-pointer font-medium hover:underline;
  }
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@layer utilities {

  .clip {

      clip-path: polygon(0 44%, 100% 9%, 100% 100%, 0% 100%);

  }

}
