@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus:outline-none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-sm;
    @apply bg-neutral-50 text-neutral-900;
  }

  p {
    @apply leading-relaxed;
  }

  a {
    @apply cursor-pointer font-medium hover:underline;
  }
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@layer utilities {

  .clip {
      clip-path: polygon(0 40%, 100% 12%, 100% 100%, 0% 100%);

  }

  .certificate-clip{
    clip-path: polygon(1% 86%, 6% 76%, 19% 58%, 31% 46%, 47% 35%, 60% 36%, 73% 43%, 89% 52%, 100% 55%, 99% 100%, 0% 100%);
  }

}
